html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  margin-bottom: 60px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  color: #0e204d;
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 12px 24px;
  background-color: #0e204d;
  color: white;
  display: none;
}

/* nav links */
.nav {
  position: initial;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-logo img {
  width: 70%;
}

.spacer {
  flex: 1;
}

.navbar-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-list li {
  padding: 0 0.5rem;
}

.cart-icon {
  cursor: pointer;
}

ion-icon {
  font-size: 130%;
  color: gray;
}

.navbar ion-icon:hover,
.chosen ion-icon {
  color: #091534
}

/* Cart */

.side-drawer {
height: 100%;
position: fixed;
background: white;
box-shadow: 2px 0px 5px #091534;
top: 0;
right: 0;
width: 50%;
max-width: 400px;
z-index: 200;
transform: translateX(100%);
transition: transform 0.4s ease-out;
}

.cart-header{
  background-color: #0e1629b3;
  padding: 20px 20px;
  text-align: center;
}

.cart-header .close-btn {
  float: left;
  cursor: pointer;
}

.cart-header h3, .cart-header .close-btn {
  color: white;
}

.side-drawer.open {
  transform: translateX(0);
}

.cart-login-prompt {
  font-size: 110%;
  text-align: center;
  margin: 40px 20px;
}

.login-link {
  padding: 1px 1px;
}

.side-drawer div.row {
  margin: 20px 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 100;
}

/* Cart items count */

.badge {
  background-color: #0e204d;
  border-radius: 16px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 2px 6px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

/* Login */

.login-container form {
  border: 2px solid #0e204d;
  padding: 50px 24px;
  width: 440px;
  height: 260px;
  margin: 0 auto;
  max-width: 90%;
}

.login-container input[type=submit] {
  display: inline-block;
  margin-top: 10%;
}

/* HOME */

.thumbnail {
  position: relative;
}

.thumbnail img {
  max-width: 90%;
}

.caption {
  position: absolute;
  color: #0e204d;
  top: 2%;
  left: 0;
  width: 100%;
  height: 100%;
}

.caption img {
  opacity: 0.8;
  max-width: 50%;
}

.caption button, input[type=submit] {
  display: block;
  background-color: #0e204d;
  color: white;
}

.caption button {
  margin-top: 12%;
}

/* Bowties */

.bwtq-filter-title, .bwtq-size-desc {
  text-align: center
}

.col-sm-3:hover img {
  filter: blur(2px);
}

.col-sm-3:hover button {
  display: block;
}

.btn-light {
  color: #0e204d
}

/* User */

.table {
  width:70%; 
  margin-left:15%; 
  margin-right:15%;
}

/* Footer */

.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #091534;
}

.footer-copyright {
  color: white;
}